RewriteEngine on
RewriteCond $1 !^(index\.php|public|\.txt) 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 

<IfModule mod_headers.c>
  <FilesMatch "\.(eot|otf|tt[cf]|woff)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://02182017.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://02182017.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavite.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavite.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavite.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavite.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavitecommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavitecommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ccc.cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ccc.cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ccc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ccc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demopos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demopos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://launion.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://launion.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pos.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pos.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://puertoprincesacommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://puertoprincesacommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://queue.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://queue.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://server.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://server.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sfcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://testg12.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://testg12.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.02182017.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.02182017.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavite.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavite.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavite.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavite.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavitecommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavitecommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ccc.cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ccc.cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ccc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ccc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demopos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demopos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.launion.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.launion.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pos.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pos.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.puertoprincesacommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.puertoprincesacommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.queue.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.queue.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.server.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.server.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sfcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.testg12.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.testg12.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xf.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xf.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xf.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xf.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zift.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zift.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xf.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xf.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xf.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xf.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zift.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zift.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://02182017.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://02182017.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavite.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavite.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavite.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavite.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavitecommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavitecommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ccc.cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ccc.cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ccc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ccc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demopos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demopos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://launion.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://launion.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pos.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pos.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://puertoprincesacommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://puertoprincesacommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://queue.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://queue.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://server.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://server.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sfcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://testg12.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://testg12.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.02182017.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.02182017.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavite.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavite.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavite.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavite.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavitecommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavitecommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ccc.cavitecommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ccc.cavitecommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ccc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ccc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demopos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demopos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.launion.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.launion.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pos.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pos.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pos.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pos.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.puertoprincesacommunitychurch.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.puertoprincesacommunitychurch.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.queue.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.queue.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.server.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.server.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfcc.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfcc.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfcc.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sfcc.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.testg12.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.testg12.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xf.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xf.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xf.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xf.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zift.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zift.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xf.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xf.ccclaunion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xf.puertoprincesacommunitychurch.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xf.puertoprincesacommunitychurch.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zift.ccclaunion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zift.ccclaunion.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

